/* =============================================================================
// COLOURS
/* ============================================================================= */

$brand-primary: #2BABE2;
$brand-secondary: saturate($brand-primary, 30%);
$brand-tertiary: #FDC542;
$brand-neutral: #231f20;